.root {
    -fx-background-color: #95a5a6;
}

#appName {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
    -fx-padding: 30px, 0, 10px, 0;
    -fx-alignment: center;
}

#mailAddress {
    -fx-font-size: 16px;
    -fx-font-fill: #333333;
}

#password {
    -fx-font-size: 16px;
    -fx-font-fill: #333333;
}

#inputGridPane {
    -fx-alignment: center;
}

#mailAddressField {
}

#bottomImage {
    -fx-alignment: center;
}

#validateErrorText {
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
    -fx-padding: 10px, 0, 0, 0;
    -fx-alignment: center;
}